<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tailwind Login</title>
    <meta name="author" content="David Grzyb" />
    <meta name="description" content="" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/3.4.17/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      .body-bg {
        background-color: #9921e8;
        background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
      }
    </style>
  </head>
  <body
    class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0"
    style="font-family: 'Lato', sans-serif"
  >
    <header class="max-w-lg mx-auto">
      <a href="#">
        <h1 class="text-4xl font-bold text-white text-center">
          Angular Sample App
        </h1>
      </a>
    </header>
    <div style="max-width: 1000px; margin: 0 auto; place-items: center;">
      <descope
        flowId="sign-up-or-in"
      (success)="onSuccess($event)"
      (error)="onError($event)"
      theme="os"
      ></descope>
    </div>
  </body>
</html>
